{% extends 'company/base.html' %}
{% block content %}
<div class="conatiner border border-secondary m-auto p-5  col-md-8 col-12 shadow-lg">
<form  method ='POST'>
    {% csrf_token %}
    <div class="form-group d-flex justify-content-between align-items-center">
    <label> Password:</label> <input type="password" name="password1"> <br>
    <label> Re-type Password:</label> <input type="password" name="password2"> <br>
    <br><input class="btn-sm btn-outline-primary" type="submit" value="change">
    </div>
</form>
</div>
{% for message in messages %}
    {% if message.tags == 'error' %}
        <span style="color:red"> {{message}} </span>
    {% else %}
          <span style="color:green"> {{message}} </span>
   {% endif %}
{% endfor %}

{% endblock %}