<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
<form  method ='POST'>
    {% csrf_token %}
    <label> Password:</label> <input type="password" name="password1"> <br>
    <label> Re-type Password:</label> <input type="password" name="password2"> <br>
    <br><input type="submit" value="change">
</form>
{% for message in messages %}
    {% if message.tags == 'error' %}
        <span style="color:red"> {{message}} </span>
    {% else %}
          <span style="color:green"> {{message}} </span>
   {% endif %}
{% endfor %}
</body>
</html>